{% extends "base.html.twig" %}

{% block body %}
    <h1>Searched word: {{ word }}</h1>
    <div class="col-6">
        <p>Definitions</p>
        <ul></ul>
    </div>
    <div class="col-6">
        <p>Pronunciations</p>
        <ul></ul>
    </div>
{% endblock %}